html {
  font-family: "Roboto", sans-serif;
  color: #232323;
  background-color: #efeee9; }

body {
  max-width: 1810px;
  margin: auto; }

.full_width {
  width: 100%;
  box-sizing: border-box; }

.limited_width {
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1108px;
  margin-left: auto;
  margin-right: auto; }

header {
  background: url("../img/ryyr-k3ysqg-damian-zaleski.png") -44px -16px no-repeat; }

.intro h1, .navbar li, .intro a {
  text-transform: uppercase; }

a:focus {
  background: rgba(255, 165, 0, 0.3); }

.intro {
  margin: 3rem auto;
  font-size: 1.25rem;
  font-weight: 300;
  background-color: #fff;
  padding-top: 2.1rem;
  padding-bottom: 2.1rem;
  text-align: center; }
  .intro h1 {
    font-family: "Roboto Slab", serif;
    font-weight: 100;
    padding: 2.05rem 0 2.7rem; }
  .intro p {
    text-align: left;
    max-width: 32em;
    margin: 0 auto;
    line-height: 1.35em; }
  .intro a {
    display: inline-block;
    margin: 4.1rem auto 4.8rem;
    text-decoration: none;
    border: 2px solid;
    color: inherit;
    font-weight: 600;
    padding: 1rem 2.3rem;
    font-size: 1.125rem; }

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: rgba(255, 255, 255, 0.7);
  height: 7.5rem; }

.navbar__option {
  font-size: 0.64rem;
  font-weight: 600;
  letter-spacing: 0.348em; }
  .navbar__option a {
    text-decoration: none;
    color: inherit; }

.navbar__logo {
  font-size: 1.5rem;
  letter-spacing: 0.415em;
  font-weight: 300; }

@keyframes hide_navbar {
  from {
    left: 0; }
  75% {
    left: -99%; }
  to {
    left: -90%; } }
@keyframes show_navbar {
  from {
    left: -90%; }
  to {
    left: 0; } }
.nav_collapsed {
  left: -90%;
  animation: hide_navbar cubic-bezier(0.73, 0.01, 0.04, 1) 0.35s; }

.nav_expanded {
  left: 0;
  animation: show_navbar cubic-bezier(0.73, 0.01, 0.04, 1) 0.25s; }

.nav_collapsed #widget_show {
  display: block; }

.nav_collapsed #widget_hide {
  display: none; }

.navbar__links {
  display: flex;
  list-style: none;
  padding: 0; }

.navbar__links {
  flex-flow: column nowrap;
  align-items: center; }

.nav__widget {
  position: absolute;
  top: 0rem;
  right: 1rem; }

.nav__widget {
  cursor: pointer; }

.nav__widget_hidden {
  display: none; }

.motto {
  padding-top: 7.5rem;
  font-size: 1.48rem;
  font-weight: 300;
  text-align: right; }

.motto p {
  padding-top: 20rem;
  padding-bottom: 2rem;
  display: inline-block;
  text-align: right;
  max-width: 24em; }

.intro h1, .article, #motto {
  text-align: center; }

.showcase {
  display: flex;
  flex-flow: column nowrap; }

.showcase__tile {
  max-height: 418px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #000; }
  .showcase__tile img {
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100%;
    transition: all 0.2s linear; }
  .showcase__tile .showcase__details {
    display: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 300;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .showcase__tile:hover img {
    opacity: 0.4;
    transition: all 0.4s ease-out; }
  .showcase__tile:hover .showcase__details {
    display: block; }

.showcase {
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto; }

.showcase_tile {
  margin: 0 auto;
  padding: 0;
  width: 90%;
  max-height: 418px;
  overflow: hidden; }
  .showcase_tile img {
    width: 100%;
    max-height: 100%; }

.big_text {
  font-weight: 100;
  font-size: 2.28rem;
  text-align: center;
  max-width: 21em;
  margin: 3rem auto; }

.example {
  background-color: #fff;
  color: #250d59; }

.example__picture {
  max-width: 100%;
  overflow: hidden; }
  .example__picture img {
    width: 100%; }

.bulletpoint {
  font-size: 0.9rem;
  padding: 1rem;
  font-weight: 300; }

.bulletpoint__header {
  text-transform: uppercase;
  letter-spacing: .38em;
  margin-bottom: 0;
  font-weight: 300;
  font-size: inherit; }

.bulletpoint__body {
  line-height: 1.57em;
  max-width: 23em;
  margin-top: 0.18rem; }

.articles {
  padding-top: 6rem;
  padding-bottom: 5rem; }

.article {
  background-color: #fff;
  padding: 2.5em;
  position: relative; }

.article__header {
  font-size: 1.125rem;
  margin-bottom: 2em; }

.article__body {
  font-weight: 300; }

.article__link {
  color: #4faefe;
  font-weight: 300;
  margin-top: 0.5rem;
  position: absolute;
  bottom: 2.15rem;
  left: 50%;
  transform: translateX(-50%); }

.address {
  background-color: #353535;
  padding-top: 1rem;
  padding-bottom: 1rem; }

.address, .address__email {
  color: #fff;
  text-decoration: none; }

.address__text {
  font-style: normal;
  font-weight: 300;
  max-width: 39rem;
  line-height: 148%; }

.address__header {
  font-size: inherit; }

.address__map {
  width: 100%;
  height: 25rem; }

.footer {
  padding-top: 1.4rem;
  color: #353535;
  display: flex;
  flex-flow: row nowrap;
  list-style-type: none;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0;
  font-size: 1.5rem; }
  .footer a {
    color: inherit; }

.footer__item {
  padding-right: 0.5rem; }
  .footer__item:last-of-type {
    margin-left: auto;
    padding-right: 0; }

.copyright {
  font-weight: 300;
  font-size: 1.25rem; }

@media (min-width: 45rem) {
  .navbar {
    height: 11.25rem; }

  .navbar__links {
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    height: 2rem;
    margin-top: 4.2rem; }

  .nav_collapsed {
    left: 0; }

  .navbar .nav__widget {
    display: none; }

  .motto {
    padding-top: 11.25rem; }
    .motto p {
      padding-top: 32rem;
      padding-bottom: 4.8rem; }

  .intro {
    margin-top: 12rem;
    margin-bottom: 12rem; }

  .showcase {
    flex-flow: row wrap;
    align-content: stretch;
    justify-content: center;
    width: 100%; }

  .showcase__tile {
    flex: 0 1 559px;
    margin: 0;
    padding: 0;
    height: 418px;
    overflow: hidden; }
    .showcase__tile img {
      width: auto;
      min-width: 100%;
      max-width: none;
      height: 100%; }

  .big_text {
    margin: 13.3rem auto 13rem; }

  .example {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around; }

  .example__bulletpoints {
    flex-shrink: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    flex: 0 0 30rem;
    margin-left: 8rem; }

  .example__picture {
    flex: 1 0 480px;
    max-height: 720px;
    max-width: 840px;
    align-self: center; }
    .example__picture img {
      width: 145%;
      max-height: 100%;
      margin-left: -6%; }

  .articles {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; }

  .article {
    flex: 1;
    padding: 1.5rem 2.5rem 5rem;
    margin-right: 2rem; }
    .article:last-of-type {
      margin-right: 0; }

  .address > div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center; }

  .address__text {
    padding-right: 10rem; }

  .footer__item {
    padding-right: 1.75rem; } }
@media (min-width: 1148px) {
  .limited_width {
    padding-left: 0;
    padding-right: 0; } }

/*# sourceMappingURL=style.css.map */
