$nav-height: 7.5rem;
$nav-height-full: 11.25rem;
$medium-width: 45rem;
$width-internal: 1108px;
$width-external: 1810px;
$background-default: #efeee9;
$background-light: #fff;
$text: #232323;
$text-light: $background-light;
$text-secondary: #250d59;
$article-link: #4faefe;
$background-dark: #353535;
$showcase-filter: #000;

html {
    font-family: "Roboto", sans-serif;
    color: $text;
    background-color: $background-default;
}

body {
    max-width: $width-external;
    margin: auto;
}

.full_width {
    width: 100%;
    box-sizing: border-box;
}

header {
    background: url("../img/ryyr-k3ysqg-damian-zaleski.png") -44px -16px no-repeat;    
}

.intro h1, .navbar li, .intro a {
        text-transform: uppercase;    
}

a:focus {
    background: rgba(255,165,0,0.7);
}

.intro {
    margin: 3rem auto;
    font-size: 1.25rem;
    font-weight: 300;
    background-color: $background-light;
    padding: 2.1rem 1rem;
    text-align: center;
    h1 {
        font-family: "Roboto Slab", serif;
        font-weight: 100;
        padding: 2.05rem 0 2.7rem;
    }
    p {
        text-align: left;
        max-width: 32em;
        margin: 0 auto;
        line-height: 1.35em;
    }
    a {
        display: inline-block;
        margin: 4.1rem auto 4.8rem;
        text-decoration: none;
        border: 2px solid;
        color: inherit;
        font-weight: 600;
        padding: 1rem 2.3rem;
        font-size: 1.125rem;
    }
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgba(255,255,255,0.7);
    height: $nav-height;
}

.navbar__option {
    font-size: 0.64rem;
    font-weight: 600;
    letter-spacing: 0.348em;
    a {
        text-decoration: none;
        color: inherit;
    }
}

.navbar__logo {
    font-size: 1.5rem;
    letter-spacing: 0.415em;
    font-weight: 300;
}

@keyframes hide_navbar {
    from {
        left: 0;
    }
    75% {
        left: -99%;
    }
    to {
        left: -90%;
    }
}

@keyframes show_navbar {
    from {
        left: -90%;
    }
    to {
        left: 0;
    }
}

.nav_collapsed {
    left: -90%;
    animation: hide_navbar cubic-bezier(.73,.01,.04,1) 0.35s ;
}

.nav_expanded {
    left: 0;
    animation: show_navbar cubic-bezier(.73,.01,.04,1) 0.25s;
}
.nav_collapsed #widget_show {
    display: block;
}

.nav_collapsed #widget_hide {
    display: none;
}

.navbar__links, footer ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.navbar__links {
    flex-flow: column nowrap;
    align-items: center;
}

.nav__widget {
    position: absolute;
    top: 0rem;
    right: 1rem;
}

.nav__widget {
    cursor: pointer;
}

.nav__widget_hidden {
    display: none;
}


.motto {
    padding-top: $nav-height;
    font-size: 1.48rem;
    font-weight: 300;
    text-align: right;
}

.motto p {
    padding-top: 20rem;
    padding-bottom: 2rem;
    display: inline-block;
    text-align: right;
    max-width: 24em;
}

.intro h1, .article, #motto {
    text-align: center;
}

.showcase {
    display: flex;
    flex-flow: column nowrap;
}

.showcase__tile {
    max-height: 418px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: $showcase-filter;
    img {
        margin: 0;
        padding: 0;
        min-width: 100%;
        min-height: 100%;
        transition: all 0.2s linear;
    }
    .showcase__details {
        display: none;
        color: $text-light;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 300;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &:hover {
        img {
            opacity: 0.4;
            transition: all 0.4s ease-out;
        }
        .showcase__details {
            display: block;
        }
    }
}



.showcase {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}
.showcase_tile {
    margin: 0 auto;
    padding: 0;
    width: 90%; 
    max-height: 418px;
    overflow: hidden;
    img {
        width: 100%;
        max-height: 100%;
    }
}

.big_text {
    font-weight: 100;
    font-size: 2.28rem;
    text-align: center;
    max-width: 21em;
    margin: 3rem auto;
}

.example {
    background-color: $background-light;
    color: $text-secondary;
}

.example__picture {
    max-width: 100%;
    overflow: hidden;
    img {
        width: 100%;
    }
}

.bulletpoint {
    font-size: 0.9rem;
    padding: 1rem;
    font-weight: 300;
}
.bulletpoint__header {
    text-transform: uppercase;
    letter-spacing: .38em;
    margin-bottom: 0;
    font-weight: 300;
    font-size: inherit;
}

.bulletpoint__body {
    line-height: 1.57em;
    max-width: 23em;
    margin-top: 0.18rem;
}

.articles {
    padding-top: 6rem;
    padding-bottom: 5rem;
}

.article {
    background-color: $background-light;
    padding: 2.5em;
    position: relative;
}

.article__header {
    font-size: 1.125rem;
    margin-bottom: 2em;
}

.article__body {
    font-weight: 300;
}

.article__link {
    color: $article-link;
    font-weight: 300;
    padding-top: 0.5rem;
    position: absolute;
    bottom: 2.15rem;
    left: 50%;
    transform: translateX(-50%);
}

footer ul {
    flex-flow: row nowrap;
    justify-content: flex-start;
}

footer .copyright {
    margin-left: auto;
}



@media (min-width: $medium-width) {
    .limited_width {
        max-width: $width-internal;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
    }
    .navbar {
        height: $nav-height-full;
    }
    .navbar__links {
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        height: 2rem;
        margin-top: 4.2rem;
    }
    .nav_collapsed {
        left: 0;
    }
    .navbar .nav__widget {
        display: none;
    }
    .motto {
        padding-top: $nav-height-full;
        p {
            padding-top: 32rem;
            padding-bottom: 4.8rem;
        }
    }
    .intro {
        margin-top: 12rem;
        margin-bottom: 12rem;
    }
    .showcase {
        flex-flow: row wrap;
        align-content: stretch;
        justify-content: center;
        width: 100%;
    }

    .showcase__tile {
        flex: 0 1 559px;
        margin: 0;
        padding: 0;
        height: 418px;
        overflow: hidden;
        img {
            width: auto;
            min-width: 100%;
            max-width: none;
            height: 100%;
        }
    }
    .big_text {
        margin: 13.3rem auto 13rem;
    }

    .example {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-around;
    }
    
    .example__bulletpoints {
        flex-shrink: 0;
        display: flex;
        flex-flow: column;
        justify-content: center;
        flex: 0 0 30rem;
        margin-left: 8rem;
    }
    .example__picture {
        flex: 1 0 480px;
        max-height: 720px;
        max-width: 840px;
        align-self: center;
        img {
            width: 145%;
            max-height: 100%;
            margin-left: -6%;
        }
    }
    .articles {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .article {
        flex: 1;
        padding: 1.5rem 2.5rem 5rem;
        margin-right: 2rem;
        
        &:last-of-type {
            margin-right: 0;
        }
    }   
}